<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>about</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col style="text-align: center;"><img src="assets/shop/shop8.png" width="50%"></ion-col>
    </ion-row>
  </ion-grid>
  <div class="ion-padding" style="font-size: x-large;">
    <span style="font-size: xx-large;color: crimson;">KYRO ENTERPRISES</span> , formerly known as Maruti Udyog Limited, is an automobile manufacturer in India. It is a 56.21% owned subsidiary 
    of the Japanese car and motorcycle manufacturer Suzuki Motor Corporation. As of July 2018, it had a market share of 53% of the Indian passenger 
    car market.
    <br><br>
    In 1989, the Maruti 1000 was introduced and the 970 cc, three-box was India's first contemporary sedan. By 1991, 65 per cent of the components, 
    for all vehicles produced, were indigenized. After liberalization of the Indian economy in 1991, Suzuki increased its stake in Maruti to 50 per 
    cent, making the company a 50-50 Joint Venture with the Government of India the other stake holder.
    <br><br>
    In 1993, the Zen, a 993 cc, hatchback was launched and in 1994 the 1298 cc Esteem was introduced. Maruti produced its 1 millionth vehicle since 
    the commencement of production in 1994. Maruti's second plant was opened with annual capacity reaching 200,000 units. Maruti launched a 24-hour 
    emergency on-road vehicle service. In 1998, the new Maruti 800 was released, the first change in design since 1986. Zen D, a 1527 cc diesel 
    hatchback, and Maruti's first diesel vehicle, and a redesigned Omni were introduced. In 1999, the 1.6 litre Maruti Baleno three-box saloon and 
    Wagon R were also launched.
    <br><br>
  </div>
</ion-content>
