<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>shopping</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle><img src="assets/items/phone.png" alt=""></ion-card-subtitle>
            <ion-card-title>Iorola GX5 SmartPhone 
              <ion-button (click)="onClick()" style="height: 10%; width: 15%;">
                <ion-icon slot="icon-only" name="add"></ion-icon>
              </ion-button>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <strong>Condition:</strong> Excellent <br>
            <strong>Price:</strong> 19,000 <br>
            <strong>Seller:</strong> rolland
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle><img src="assets/items/phone2.png" alt=""></ion-card-subtitle>
            <ion-card-title>Iorola GX5 SmartPhone 
              <ion-button (click)="onClick()" style="height: 10%; width: 15%;">
                <ion-icon slot="icon-only" name="add"></ion-icon>
              </ion-button>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <strong>Condition:</strong> Excellent <br>
            <strong>Price:</strong> 19,000 <br>
            <strong>Seller:</strong> rolland
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle><img src="assets/items/phone3.png" alt=""></ion-card-subtitle>
            <ion-card-title>Iorola GX5 SmartPhone 
              <ion-button (click)="onClick()" style="height: 10%; width: 15%;">
                <ion-icon slot="icon-only" name="add"></ion-icon>
              </ion-button>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <strong>Condition:</strong> Excellent <br>
            <strong>Price:</strong> 19,000 <br>
            <strong>Seller:</strong> rolland
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>