@mixin contcen{
        text-align: center;
        padding: 4% 4% 0 4%;
}

#wel{
        color: hotpink; 
        @include contcen;
        font-weight: bolder;
        font-size: 6vh;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-decoration: overline;
}

#subt{
        text-align: center;
        padding-bottom: 3%;
        color: grey;
        font-size: larger;
}